/*
 * @Author: smallke 
 * @Date: 2017-06-03 13:43:41 
 * @Last Modified by: smallke
 * @Last Modified time: 2017-08-28 16:02:39
 */

.u-title {
  padding: 2.6667rem 0.2933rem 0.4rem;
  color: #333333;
  font-size: 0.6rem;
  font-weight: 300;
  line-height: 1;
  text-align: center;
}
