//个人中心
.record-detail {
  height: 3.04rem;
  background-color: #359dda;
  .dec {
    padding-top: 0.6667rem;
    color: #ffffff;
    font-size: 0.44rem;
    font-weight: 500;
    line-height: 1;
    text-align: center;
  }
  .money {
    padding-top: 0.4rem;
    color: #ffffff;
    font-size: 0.8133rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
  }
}

.record-list {
  margin-top: 0.32rem;
  background-color: #fff;
  .title {
    padding: 0.48rem;
    color: #333333;
    font-size: 0.44rem;
    font-weight: 400;
    line-height: 1;
  }
  .item {
    position: relative;
    padding: 0.48rem;
    border-bottom: 1px solid #dddddd;
    .name {
      color: #333333;
      font-size: 0.44rem;
      font-weight: 400;
      line-height: 1;
    }
    .date {
      padding-top: 0.2933rem;
      color: #a8a8a8;
      font-size: 0.3733rem;
      font-weight: 400;
      line-height: 1;
    }
    .price {
      position: absolute;
      top: 0.48rem;
      right: 0.48rem;
      color: #333333;
      font-size: 0.4933rem;
      font-weight: 400;
      line-height: 1;
    }
    .info {
      position: absolute;
      right: 0.48rem;
      bottom: 0.48rem;
      color: #333333;
      font-size: 0.3733rem;
      font-weight: 400;
      line-height: 1;
    }
  }
}
