.pay-title {
  padding: 0.6133rem 0.2933rem 0.4rem;
  color: #333333;
  font-size: 0.44rem;
  font-weight: 300;
  line-height: 1;
  border-bottom: 1px solid #dddddd;
  background-color: #fff;
}

.pay-list {
  padding: 0.4rem 0.32rem 0.6667rem;
  background-color: #fff;
  @include clearfix;
  border-bottom: 1px solid #dddddd;
  .item {
    float: left;
    margin: 0.1333rem;
    width: 2.8533rem;
    height: 1.72rem;
    border-radius: 3px;
    border: 1px solid #2cbadd;
    background-color: #fff;
    text-align: center;
    .title {
      padding-top: 0.3067rem;
      color: #2cbadd;
      font-size: 0.44rem;
      font-weight: 400;
      line-height: 1;
    }
    .dec {
      padding-top: 0.2rem;
      color: #828282;
      font-size: 0.3467rem;
      font-weight: 400;
      line-height: 1;
    }
    &.active {
      background-color: #359dda;
      .title,
      .dec {
        color: #fff;
      }
    }
  }
}

.other {
  position: relative;
  height: 1.52rem;
  background-color: #fff;
  border-bottom: 1px solid #dddddd;
  padding: 0px 0.4rem 0px 2.4rem;
  .title {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 2.4rem;
    height: 1.52rem;
    line-height: 1.52rem;
    color: #333333;
    font-size: 0.44rem;
    font-weight: 400;
    text-align: center;
  }
  .money {
    display: block;
    height: 1.52rem;
    line-height: 1.52rem;
    color: #333;
    font-size: 0.44rem;
    font-weight: 400;
    border: 0px;
    padding: 0px;
  }
}

.agreement {
  padding: 0.4rem 0.4rem 0px;
  .link {
    color: #359dda;
    text-decoration: underline;
  }
}

.submit-btn {
  margin: 0.9333rem auto 0px;
  width: 7.9733rem;
  height: 1.2533rem;
  line-height: 1.2533rem;
  border-radius: 0.0667rem;
  background-color: #3694cb;
  color: #ffffff;
  font-size: 0.4933rem;
  font-weight: 300;
  text-align: center;
}

.agreement-page {
  .title {
    padding: 1.0667rem 0.4rem 0px;
    color: #333333;
    font-size: 0.48rem;
    line-height: 1;
    text-align: center;
  }
  .txt {
    padding: 0.2667rem 0.4rem 1.3333rem;
    color: #333333;
    font-size: 0.3467rem;
    font-weight: 300;
    line-height: 1.4;
    white-space: pre-line;
    word-break: break-all;
  }
}